@import
	url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap')
	;

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Roboto', sans-serif;
	text-decoration: none;
}

body {
	background: #FFFFFF;
}

.cabecalho {
	width: 100%;
	height: 200px;
}

.cabecalho .bottom-entre {
	height: 80px;
	width: 250px;
    line-height: 80px;
    padding-left: 2%;
    padding-right: 2%;
	background: rgba(0, 176, 139, 0.58);
	border-radius: 0px 0px 31px 31px;
	color: #fff;
	float: right;
}

.bottom-entre span{
    margin-left: 1%;
    font-size: 15
    px;
    font-weight: 400;
}
.bottom-entre #user{
    float: left;
    margin-left: 1%;
    transform: translate(-50%, 30%);
}

.bottom-entre #log-in{
    float: right;
    transform: translate(-50%, 30%);
}

.cabecalho #question {
	float: right;
	height: 80px;
	width: 180px;
	line-height: 80px;
	margin-left: 1%;
	color: #C6C5C5;
	font-weight: 300;
	font-size: 15px;
}

#question i {
	margin-right: 3%;
}

#logo {
	width: 240px;
	height: 50px;
	margin-top: 4%;
	margin-left: 4%;
}

.navigation ul {
	margin-left: 4%;
	margin-top: 1%;
}

.navigation ul li {
	display: inline-block;
	margin-left: 2%;
}

.navigation ul li a {
	color: #C6C5C5;
	font-weight: 400;
	font-size: 24px;
	line-height: 28px;
}

.navigation ul li #oferta {
	color: #DD1830;
}

.navigation ul li a .icon {
	margin-right: 15px;
}

.navigation ul li.active a {
	border-bottom: 2px solid #00B08B;
	color: #00B08B;
}

.principal {
	height: 100%;
}

.principal .buscar {
	position: relative;
	width: 96%;
	height: 256px;
	background: #FFFFFF;
	box-shadow: 0px 5px 94px rgba(0, 0, 0, 0.11);
	border-radius: 24px;
	margin-left: 2%;
	margin-top: 1%;
}

.buscar ul li {
	display: inline-block;
	margin-left: 3%;
	margin-top: 1%;
}

.buscar ul li a {
	height: 80px;
	width: 250px;
	line-height: 80px;
	padding-left: 35px;
	padding-right: 35px;
	color: #00B08B;
	border: 1px solid #00B08B;
	border-radius: 20px;
	font-size: 24px;
}

.buscar ul li.active a {
	background: #00B08B;
	color: #fff;
}

.buscar .input {
	display: inline-flex;
}

.buscar label {
	margin-left: 3%;
	color: #757575;
}

.buscar input {
	display: block;
	color: #C6C5C5;
	height: 70px;
	border: 2px solid #C6C5C5;
	box-sizing: border-box;
	border-radius: 28px;
	margin-top: 2%;
	font-size: 18px;
	text-align: center;
	font-weight: 300;
	outline: 0;
}

.buscar #cidade {
	width: 600px;
}

.buscar #ida {
	width: 200px;
}

.buscar #volta {
	width: 200px;
}

.buscar #quartos {
	width: 350px;
}

.buscar .bottom {
	height: 70px;
	width: 300px;
	line-height: 70px;
	padding-left: 35px;
	padding-right: 35px;
	color: #fff;
	background: #00B08B;
	border-radius: 28px;
	margin-left: 3%;
	margin-top: 1.2%;
}

.lado-esquerdo {
	display: inline-block;
	position: relative;
	height: 100%;
	width: 46%;
	margin-left: 5%;
	margin-top: 3%;
}

.lado-direito {
	display: inline-block;
	position: relative;
	float: right;
	height: 100%;
	width: 46%;
	margin-top: 3%;
	margin-right: 3%;
}

.lado-esquerdo h1 {
	color: #5A5959;
	font-weight: 500;
}

.col-1 {
	width: 658px;
	height: 260px;
	margin-top: 3%;
}

.col-1 .image:first-child {
	background-color: transparent;
	position: relative;
	float: left;
	width: 340px;
	height: 260px;
}

.col-1 .info:last-child {
	position: relative;
	width: 358px;
	height: 260px;
	margin-left: 300px;
	background: #FFFFFF;
	border-radius: 24px;
	padding: 3%;
	box-shadow: 0px 4px 119px rgba(0, 0, 0, 0.09);
}

.col-1 .info .icon {
	float: right;
	transform: translate(0, -60%);
}

.col-1 .info h5 {
	margin-top: 3%;
}

.col-1 .info {
	color: #757575;
}

.col-1 .info .calendar {
	transform: translate(0, 25%);
	margin-right: 10px;
}

.col-1 .info .pacote {
	margin-top: 20%;
	font-weight: 400;
}

.col-1 .info h4 {
	transform: translate(0, 150%);
}

.col-1 .info .valor {
	margin-left: 15%;
	font-weight: 400;
}

.col-1 .info s {
	font-size: 14px;
	font-weight: 400;
	margin-left: 2%;
	text-decoration: line-through;
}

.col-1 .info .arow {
	margin: 0;
	float: right;
	margin-right: 2%;
}

.col-InfoCovid {
	width: 650px;
	height: 250px;
	padding: 3%;
	background: #FFFFFF;
	box-shadow: 0px 4px 119px rgba(0, 0, 0, 0.09);
	border-radius: 24px;
	margin-top: 12%;
	margin-left: 12%;
}

.col-InfoCovid h1 {
	margin-left: 4%;
	color: #757575;
	font-weight: 500;
}

.col-InfoCovid h4 {
	margin-top: 5%;
	margin-bottom: 6%;
	margin-left: 4%;
	color: #757575;
	font-weight: 400;
}

.col-InfoCovid #virus {
	margin-right: 3%;
	transform: translate(0, 20%);
}

.col-InfoCovid .requisitos {
	margin-left: 45%;
	color: #C6C5C5;
	font-weight: 400;
}

.col-InfoCovid .requisitos box-icon {
	transform: translate(0, 25%);
}

.col-InfoCovid .requisitos #chevron-right {
	margin-left: 3%;
	transform: translate(0, 35%);
}

.acomodacao {
	
}

.acomodacao h1 {
	margin-top: 10%;
	margin-left: 15%;
	color: #5A5959;
	font-weight: 400;
}

.acomodacao .col-info {
	display: inline-block;
	width: 300px;
	height: 400px;
	margin-right: 15%;
	border-radius: 24px;
	margin-top: 5%;
	flex: none;
	scroll-snap-align: start;
	pointer-events: none;
}

.acomodacao .col-info h1 {
	color: #ffff;
	font-weight: 400;
}

.acomodacao #item-1 {
	background: url(../img/unsplash_sjvU0THccQA.png);
	background-position: center center;
}

.acomodacao #item-2 {
	background: url(../img/unsplash_ycyXpdhCnp8.png);
	background-position: center center;
}

.acomodacao #item-3 {
	background: url(../img/unsplash_1XLyzi17Z2M.png);
	background-position: center center;
}

.acomodacao #item-4 {
	background: url(../img/unsplash_02n9_v-d1yY.png);
	background-position: center center;
}

.item {
	margin-left: 15%;
	display: flex;
	overflow-x: scroll;
	scroll-snap-type: x mandatory;
	-webkit-overflow-scrolling: touch;
	scroll-behavior: smooth;
}

::-webkit-scrollbar {
	background-color: transparent;
	width: 4px;
	height: 4px;
}

::-webkit-scrollbar-thumb {
	background-color: #5A5959;
	border-radius: 5px;
}

/* Pacotes */
#cidade-1 {
	width: 350px;
}

#cidade-2 {
	width: 350px;
}

#passageiro {
	width: 250px;
}

.buscar .icon {
	transform: translate(60%, 45%);
}

.acomodacao #item-1-pacotes {
	background: url(../img/Barcelona.png);
	background-position: center center;
}

.acomodacao #item-2-pacotes {
	background: url(../img/Paris.png);
	background-position: center center;
}

.acomodacao #item-3-pacotes {
	background: url(../img/RioDeJaneiro.png);
	background-position: center center;
}

.acomodacao #item-4-pacotes {
	background: url(../img/Berlim.png);
	background-position: center center;
}

/*Pacote-2 */
.conteudo {
	position: relative;
	margin-top: 1%;
	margin-left: 5%;
	margin-right: 5%;
	height: 1400px;
}

.bottom {
	height: 80px;
	width: 100px;
	line-height: 80px;
	padding-left: 35px;
	padding-right: 35px;
	margin-right: 2%;
	color: #00B08B;
	border: 1px solid #00B08B;
	border-radius: 20px;
	font-size: 24px;
}

.conteudo h1 {
	color: #757575;
	font-weight: 400;
	font-size: 40px;
}

.conteudo .col-pacote-2 {
	display: inline-block;
	margin-top: 2%;
}

.conteudo #filtros {
	width: 30%;
	float: left;
	background: #FFFFFF;
	box-shadow: 0px 4px 95px rgba(0, 0, 0, 0.06);
	border-radius: 25px;
	padding: 1%;
}

.conteudo #hoteis {
	width: 65%;
	margin-left: 4%;
	float: right;
}

.conteudo #hoteis .column-hoteis {
	width: 100%;
	height: 600px;
}

.conteudo #hoteis #down {
	margin-top: 4%;
}

.conteudo #filter {
	font-size: 40px;
	margin-left: 5%;
	color: #5A5959;
}

.conteudo #filter box-icon {
	margin-right: 2%;
	transform: translate(0, 20%);
}

.conteudo .list-1 {
	margin-top: 10%;
	margin-left: 5%;
}

.conteudo .list-1 a {
	margin-left: 30%;
}

.conteudo .list-1 .title {
	color: #00B08B;
	font-size: 25px;
	margin-bottom: 3%;
}

.conteudo .list-1 ul li {
	list-style: none;
	margin-top: 2%;
	font-size: 20px;
}

.conteudo .list-1 input {
	display: none;
}

.conteudo .list-1 input+label:before {
	content: '';
	background-color: #fff;
	width: 18px;
	height: 18px;
	border-radius: 6px;
	border: 2px solid #C6C5C5;
	display: inline-block;
	vertical-align: middle;
	margin-right: 2%;
	margin-bottom: 1%;
}

.conteudo .list-1 input:checked+label:before {
	background-color: #00B08B;
	background-image:
		url("data:image/svg+xml,%0A%3Csvg xmlns='http://www.w3.org/2000/svg' width='18' height='18' viewBox='0 0 10 10'%3E%3Cg class='nc-icon-wrapper' stroke-width='1' fill='%23555555'%3E%3Cpath fill='none' stroke='%23FFFFFF' stroke-linecap='round' stroke-linejoin='round' stroke-miterlimit='10' data-cap='butt' d='M2.83 4.72l1.58 1.58 2.83-2.83'/%3E%3C/g%3E%3C/svg%3E");
	background-position: center;
	border: none;
	padding: 2px;
}

.col-1-pacote {
	width: 42%;
	display: inline-block;
	margin-left: 5%;
	margin-top: 1%;
}

.column-hoteis .image:first-child {
	position: relative;
	float: left;
	margin: 0;
	width: 400px;
	height: 350px;
	border-radius: 5px;
}

.column-hoteis .image img {
	width: 400px;
	height: 300px;
	border-radius: 10px;
}

.column-hoteis .info:last-child {
	position: relative;
	width: 400px;
	height: 300px;
	margin: 0;
	float: left;
	top: -80px;
	background: #FFFFFF;
	border-radius: 24px;
	padding: 5%;
	box-shadow: 0px 4px 119px rgba(0, 0, 0, 0.09);
}

.column-hoteis .info h1 {
	margin-left: 6%;
}

.column-hoteis .info h4 {
	color: #5A5959;
	transform: translate(0, 180%);
}

.column-hoteis .info .title {
	font-weight: 500;
	font-size: 32px;
	color: #5A5959;
}

.column-hoteis .info .title box-icon {
	float: right;
	transform: translate(0, 25%);
}

.column-hoteis .info .voo {
	font-size: 20px;
	color: rgba(0, 0, 0, 0.46);
}

.column-hoteis .info .voo box-icon {
	transform: translate(0, 20%);
	margin-right: 2%;
}

.column-hoteis .info .info-title {
	font-weight: 500;
	font-size: 24px;
	font-weight: 400;
	color: #000000;
}

.column-hoteis .info .info-sub {
	font-size: 20px;
	font-weight: 400;
	color: #000000;
}

.column-hoteis .info .bottom {
	color: #fff;
	margin-left: 50%;
	background-color: #00B08B;
}

/*Passagens */

.acomodacao #item-1-passagem {
    background: url(../img/PrimeiraClasse.png);
    background-position: center center;

}

.acomodacao #item-2-passagem {
    background: url(../img/Executivo.png);
    background-position: center center;

}

.acomodacao #item-3-passagem {
    background: url(../img/Economica.png);
    background-position: center center;

}

/* RODAPE */
#rodape {
	width: 100%;
	background-color: #00B08B;
	margin-top: 5%;
	padding-left: 16%;
	padding-right: 16%;
	padding-top: 1%;
}

#rodape h1 {
	margin-left: 2%;
	margin-top: 1%;
	color: #fff;
}

footer h1 box-icon {
	float: right;
	margin-left: 1%;
}

.footer-col {
	display: inline-block;
	height: 200px;
	width: 32.2%;
	border-right: 2px solid #fff;
	margin-left: 1%;
	margin-top: 2%;
	color: #fff;
	padding: 1%;
}

.footer-col h2 {
	margin-bottom: 5%;
	font-weight: 400;
}

.footer-col h4 {
	font-weight: 300;
	margin-top: 3%;
	font-size: 18px;
}

.fim-footer {
	width: 100%;
	height: 100px;
	margin-top: 2%;
	padding: 1%;
	border-top: 2px solid #fff;
}

.fim-footer span {
	font-weight: 300;
	font-size: 18px;
	color: #fff;
}

.fim-footer #heart {
	float: right;
}

.fim-footer #heart box-icon {
	margin-left: 10px;
	transform: translate(0, 20%);
}

footer #left {
	float: left;
}

footer #right {
	float: right;
	border: none;
}

footer #left input {
	display: block;
	margin-top: 2%;
	height: 20px;
	width: 50%;
	font-size: 18px;
	background-color: transparent;
	border: none;
	color: #fff;
	border-bottom: 1px solid #fff;
	outline: 0;
}

footer #left input::placeholder {
	color: #fff;
	font-weight: 200;
	font-size: 15px;
}

footer #left a {
	height: 80px;
	width: 200px;
	line-height: 80px;
	padding-left: 35px;
	padding-right: 35px;
	color: #fff;
	border: 1px solid #ffff;
	border-radius: 5px;
	font-size: 24px;
}

footer #left a:hover {
	color: #00B08B;
	background-color: #fff;
}

footer .list {
	margin-left: 3%;
	display: inline-block;
	width: 45%;
}

footer .list ul li {
	margin-top: 5%;
	color: #fff;
	list-style: none;
}

footer .list ul li a {
	color: #fff;
	font-weight: 300;
}

@media screen and (max-width: 1720px) {
	.buscar #cidade {
		width: 500px;
	}
	.buscar #ida {
		width: 170px;
	}
	.buscar #volta {
		width: 170px;
	}
	.buscar #quartos {
		width: 220px;
	}
	.lado-esquerdo {
		margin-left: 3%;
		margin-top: 6%;
	}
	.lado-direito {
		margin-right: 5%;
		margin-top: 6%;
	}
	/*Pacotes */
	#cidade-1 {
		width: 210px;
	}
	#cidade-2 {
		width: 210px;
	}
	#passageiro {
		width: 180px;
	}
}