<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" href="../static/css/style.css"
	th:href="@{/css/style.css}">
<link href='https://unpkg.com/boxicons@2.1.1/css/boxicons.min.css'
	rel='stylesheet'>
<title>Dubai</title>
</head>

<body>
	<header class="cabecalho">
		<a href="#" id="question"> <i class="icon"> <box-icon
					name='question-mark' color="#C6C5C5"></box-icon>
		</i> Precisa de ajuda?
		</a> <a href="/login" class="bottom-entre"> <i class="icon"> <box-icon
					name='user' color="#fff"></box-icon>
		</i> Entre ou cadastre-se
		</a> <img id="logo" th:src="@{/img/Icon.png}" alt="">
		<div class="navigation">
			<ul>
				<li class="list"><a href="/"> <i class="icon">
							<box-icon name='bed' color="#C6C5C5"></box-icon>
					</i>Hospedagem
				</a></li>
				<li class="list"><a href="/passagem"> <i class="icon"> <box-icon
								name='plane-alt' type='solid' color="#C6C5C5"></box-icon>
					</i> Passagens
				</a></li>
				<li class="list active"><a href="/pacote"> <i
						class="icon"> <box-icon name='package' color="#00B08B"></box-icon>
					</i>Pacotes
				</a></li>
				<li class="list"><a href="#"> <i class="icon"> <box-icon
								name='ship' type='solid' color="#C6C5C5"></box-icon>
					</i>Cruzeiro
				</a></li>
				<li class="list"><a href="#"> <i class="icon"> <box-icon
								name='car' color="#C6C5C5"></box-icon>
					</i>Carros
				</a></li>
				<li class="list"><a href="#"> <i class="icon"><img
							th:src="@{/img/icons8-animação-24.png}" alt=""></i>Disney
				</a></li>
				<li class="list"><a id="oferta" href="#"> <i class="icon">
							<box-icon type='solid' name='badge-dollar' color="#DD1830"></box-icon>
					</i>Ofertas
				</a></li>
			</ul>
		</div>
	</header>
	<div class="principal">
		<div class="buscar">
			<ul>
				<li class="busque active"><a href="#">Voo + 2 Carro</a></li>
				<li class="busque"><a href="#">Voo + Hospedagem</a></li>
			</ul>
			<div class="input">
				<label>Para onde você está saindo? <input id="cidade-1"
					type="text" placeholder="Insira uma cidade">
				</label> <i class="icon"> <box-icon name='transfer' size="md"
						color="#D81159"></box-icon>
				</i> <label>Para onde você vai? <input id="cidade-2" type="text"
					placeholder="Insira uma cidade">
				</label> <label>Ida <input id="ida" type="date"
					placeholder="Entrada">
				</label> <label>Volta <input id="volta" type="date"
					placeholder="Saída">
				</label> <label>Passageiros <input id="Passageiros" type="number"
					placeholder="Total de passageiros">
				</label> <a href="#" class="bottom"> Buscar </a>
			</div>
		</div>
		<div class="conteudo">
			<a class="bottom" href="#"> Mês </a> <a class="bottom" href="#">
				Noite </a> <a class="bottom" href="#"> Estrelas </a>
			<h1>Pacotes de viagem para Dubai</h1>
			<div class="col-pacote-2" id="filtros">
				<span id="filter"> <box-icon name='filter' size="lg"
						color="#5A5959"></box-icon>Filtros
				</span>
				<div class="list-1">
					<ul>
						<li class="title">Categorias</li>
						<li><input id="checkbox-1" type="checkbox"><label
							for="checkbox-1">⭐⭐⭐⭐⭐</label></li>
						<li><input id="checkbox-2" type="checkbox"><label
							for="checkbox-2">⭐⭐⭐⭐</label></li>
						<li><input id="checkbox-3" type="checkbox"><label
							for="checkbox-3">⭐⭐⭐</label></li>
						<li><input id="checkbox-4" type="checkbox"><label
							for="checkbox-4">⭐⭐</label></li>
					</ul>
				</div>
				<div class="list-1">
					<ul>
						<li class="title">Tipos de acomodação</li>
						<li><input id="checkbox-5" type="checkbox"><label
							for="checkbox-5">Todas as opções</label></li>
						<li><input id="checkbox-6" type="checkbox"><label
							for="checkbox-6">Apartamentos</label></li>
						<li><input id="checkbox-7" type="checkbox"><label
							for="checkbox-7">Hotéis</label></li>
						<li><input id="checkbox-8" type="checkbox"><label
							for="checkbox-8">Hostéis</label></li>
						<li><input id="checkbox-9" type="checkbox"><label
							for="checkbox-9">Pousadas</label></li>
						<li><input id="checkbox-10" type="checkbox"><label
							for="checkbox-10">Apart-Hotéi</label></li>
					</ul>
				</div>
				<div class="list-1">
					<ul>
						<li class="title">Refeições</li>
						<li><input id="checkbox-11" type="checkbox"><label
							for="checkbox-11">Todos</label></li>
						<li><input id="checkbox-12" type="checkbox"><label
							for="checkbox-12">Café da Manhã</label></li>
						<li><input id="checkbox-13" type="checkbox"><label
							for="checkbox-13">Só hospedagem</label></li>
					</ul>
				</div>
				<div class="list-1">
					<ul>
						<li class="title">Comodidades</li>
						<li><input id="checkbox-14" type="checkbox"><label
							for="checkbox-14">Wi-fi</label></li>
						<li><input id="checkbox-15" type="checkbox"><label
							for="checkbox-15">Academia</label></li>
						<li><input id="checkbox-16" type="checkbox"><label
							for="checkbox-16">Bar</label></li>
						<li><input id="checkbox-17" type="checkbox"><label
							for="checkbox-17">Ar Condicionado</label></li>
						<li><input id="checkbox-18" type="checkbox"><label
							for="checkbox-18">Restaurante</label></li>
						<li><input id="checkbox-19" type="checkbox"><label
							for="checkbox-19">Spa</label></li>
						<li><input id="checkbox-20" type="checkbox"><label
							for="checkbox-20">Piscina</label></li>
						<li><input id="checkbox-21" type="checkbox"><label
							for="checkbox-21">Estacionamento</label></li>
					</ul>
					<a class="bottom" href="#"> Buscar </a>
				</div>
			</div>
			<div class="col-pacote-2" id="hoteis">
				<div class="column-hoteis" id="up">
					<div class="col-1-pacote">
						<div class="image">
							<img th:src="@{/img/Swissotel Al Murooj.png}" alt="">
						</div>
						<div class="info">
							<span>⭐⭐⭐⭐⭐</span><br> <span class="title">Swissotel Al Murooj<box-icon id="mala" name='briefcase-alt'></box-icon>
							</span><br> <span class="voo"> <box-icon name='plane-alt'
									type='solid' color="rgba(0, 0, 0, 0.46)"></box-icon>Voo direto
								SAO <box-icon name='transfer' color="rgba(0, 0, 0, 0.46)"></box-icon>DXB
							</span>
							<h4 class="preco">R$</h4>
							<h1 class="valor">5689.90</h1>
							<p class="info-title">Total 2 pessoas R$ 10.792</p>
							<p class="info-sub">Sem taxas e impostos</p>
							<a class="bottom" href="#"> Selecionar </a>
						</div>
					</div>
					<div class="col-1-pacote">
						<div class="image">
							<img th:src="@{/img/Taj Jumeirah.png}" alt="">
						</div>
						<div class="info">
							<span>⭐⭐⭐⭐⭐</span><br> <span class="title">Taj Jumeirah Lakes<box-icon id="mala" name='briefcase-alt'></box-icon>
							</span><br> <span class="voo"> <box-icon name='plane-alt'
									type='solid' color="rgba(0, 0, 0, 0.46)"></box-icon>Voo direto
								SAO <box-icon name='transfer' color="rgba(0, 0, 0, 0.46)"></box-icon>DXB
							</span>
							<h4 class="preco">R$</h4>
							<h1 class="valor">5689.90</h1>
							<p class="info-title">Total 2 pessoas R$ 10.792</p>
							<p class="info-sub">Sem taxas e impostos</p>
							<a class="bottom" href="#"> Selecionar </a>
						</div>
					</div>
				</div>
				<div class="column-hoteis">
					<div class="column-hoteis" id="down">
						<div class="col-1-pacote">
							<div class="image">
								<img th:src="@{/img/Rove Expo.png}" alt="">
							</div>
							<div class="info">
								<span>⭐⭐⭐⭐⭐</span><br> <span class="title">Rove Expo <box-icon id="mala" name='briefcase-alt'></box-icon>
								</span><br> <span class="voo"> <box-icon name='plane-alt'
										type='solid' color="rgba(0, 0, 0, 0.46)"></box-icon>Voo direto
									SAO <box-icon name='transfer' color="rgba(0, 0, 0, 0.46)"></box-icon>DBX
								</span>
								<h4 class="preco">R$</h4>
								<h1 class="valor">5689.90</h1>
								<p class="info-title">Total 2 pessoas R$ 10.792</p>
								<p class="info-sub">Sem taxas e impostos</p>
								<a class="bottom" href="#"> Selecionar </a>
							</div>
						</div>
						<div class="col-1-pacote">
							<div class="image">
								<img th:src="@{/img/Address Sky.png}" alt="">
							</div>
							<div class="info">
								<span>⭐⭐⭐⭐⭐</span><br> <span class="title">Address Sky<box-icon id="mala" name='briefcase-alt'></box-icon>
								</span><br> <span class="voo"> <box-icon name='plane-alt'
										type='solid' color="rgba(0, 0, 0, 0.46)"></box-icon>Voo direto
									SAO <box-icon name='transfer' color="rgba(0, 0, 0, 0.46)"></box-icon>DXB
								</span>
								<h4 class="preco">R$</h4>
								<h1 class="valor">5689.90</h1>
								<p class="info-title">Total 2 pessoas R$ 10.792</p>
								<p class="info-sub">Sem taxas e impostos</p>
								<a class="bottom" href="#"> Selecionar </a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<footer id="rodape">
		<h1>
			Travel <a href="#" class="icon"><box-icon name='gmail'
					type='logo' size="md" color="#fff"></box-icon></a> <a href="#"
				class="icon"><box-icon name='instagram' type='logo' size="md"
					color="#fff"></box-icon></a> <a href="#" class="icon"><box-icon
					name='twitter' type='logo' size="md" color="#fff"></box-icon></a> <a
				href="#" class="icon"><box-icon name='facebook-square'
					type='logo' size="md" color="#fff"></box-icon></a>
		</h1>

		<div class="footer-col" id="left">
			<h2>Fique por dentro das novidades</h2>
			<label>Inscreva-se para receber noticias <input type="email"
				placeholder="Digite seu e-mail">
			</label> <a href="#"> Inscrever </a>
		</div>
		<div class="footer-col" id="center">
			<h2>Formas de contato</h2>
			<h4>(11)99999-9999</h4>
			<h4>(48)99999-9999</h4>
			<h4>travel@travel.com</h4>
		</div>
		<div class="footer-col" id="right">
			<h2>Está procurando por:</h2>
			<div class="list" id="left-list">
				<ul class="list-unstyled">
					<li><a href="#" class="secondary-color">Viagens
							Internacionais</a></li>
					<li><a href="#" class="secondary-color">Cruzeiros</a></li>
					<li><a href="#" class="secondary-color">Viagens Nacionais</a></li>
					<li><a href="#" class="secondary-color">Hotéis</a></li>
				</ul>
			</div>
			<div class="list" id="right-list">
				<ul class="list-unstyled">
					<li><a href="#" class="secondary-color">Contato</a></li>
					<li><a href="#" class="secondary-color">Ajuda</a></li>
					<li><a href="#" class="secondary-color">Sobre nós</a></li>
					<li><a href="#" class="secondary-color">Regulamentos</a></li>
				</ul>
			</div>
		</div>
		<div class="fim-footer">
			<span> Travel©2022 </span> <span id="heart"> Viaje conosco!<box-icon
					type='solid' name='heart-circle' color="#fff"></box-icon>
			</span>
		</div>
	</footer>
	<script src="https://unpkg.com/boxicons@2.1.1/dist/boxicons.js"></script>
	<script>
            const list = document.querySelectorAll('.list');

            function activeLink() {
                list.forEach((item) =>
                    item.classList.remove('active'));
                this.classList.add('active')
            }
            list.forEach((item) =>
                item.addEventListener('click', activeLink));
        </script>
	<script>
            const lista = document.querySelectorAll('.busque');

            function activeLink() {
                lista.forEach((item) =>
                    item.classList.remove('active'));
                this.classList.add('active')
            }
            lista.forEach((item) =>
                item.addEventListener('click', activeLink));
        </script>
</body>

</html>